th{
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
}
td {
    text-align: center;
    vertical-align: middle;
}
.createBtn{
    float: right;
    margin-right: 3%;
}